<form method="post" action="{{ path('property_delete', {'uuid': property.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.uuid) }}">
    <button class="btn">Delete</button>
</form>
