{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}

    <h1>Property index</h1>
    <a href="{{ path('property_search') }}">Search</a>

    <a href="{{ path('property_new') }}">Create new</a>
    <table class="table">
        <thead>
        <tr>
            <th>Uuid</th>
            <th>County</th>
            <th>Country</th>
            <th>Town</th>
            <th>Postcode</th>
            <th>Description</th>
            <th>Displayable_address</th>
            <th>Image</th>
            <th>Thumbnail</th>
            <th>No_bedrooms</th>
            <th>No_bathrooms</th>
            <th>Price</th>
            <th>Property_type</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for property in property %}
            <tr>
                <td>{{ property.uuid }}</td>
                <td>{{ property.county }}</td>
                <td>{{ property.country }}</td>
                <td>{{ property.town }}</td>
                <td>{{ property.postcode }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.displayableAddress }}</td>
                <td>{{ property.image }}</td>
                <td>{{ property.thumbnail }}</td>
                <td>{{ property.noBedrooms }}</td>
                <td>{{ property.noBathrooms }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.propertyType }}</td>
                <td>{{ property.type }}</td>
                <td>
                    <a href="{{ path('property_show', {'uuid': property.uuid}) }}">show</a>
                    <a href="{{ path('property_edit', {'uuid': property.uuid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found (OMG!)</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('property_new') }}">Create new</a>
{% endblock %}
