{#{% extends 'base.html.twig' %}#}

{#{% block title %}Property search{% endblock %}#}

{#{% block body %}#}
{#    <h1>Property index</h1>#}


{#{% endblock %}#}

{#{{ form_start(form) }}#}

{#<div>#}
{#    {{ form_widget(form.county) }}#}
{#    {{ form_errors(form.county) }}#}
{#</div>#}

{# Render CSRF token etc .#}
{#<div style="display:none">#}
{#    {{ form_rest(form) }}#}
{#</div>#}

{#<input type="submit" value="Submit">#}

{#{{ form_end(form) }}#}
{% extends 'base.html.twig' %}

{% block title %}Search for Property{% endblock %}

{% block body %}
    <h1>Search Property</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('GO!') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('property_index') }}">back to list</a>

{% endblock %}
