{% extends 'base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}
    <h1>Property</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ property.uuid }}</td>
            </tr>
            <tr>
                <th>County</th>
                <td>{{ property.county }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ property.country }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ property.town }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ property.postcode }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ property.description }}</td>
            </tr>
            <tr>
                <th>Displayable_address</th>
                <td>{{ property.displayableAddress }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{{ asset(('/media/'~ property.image))|imagine_filter('avatar') }}"/>
                    </td>
            </tr>
            <tr>
                <th>No_bedrooms</th>
                <td>{{ property.noBedrooms }}</td>
            </tr>
            <tr>
                <th>No_bathrooms</th>
                <td>{{ property.noBathrooms }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ property.price }}</td>
            </tr>
            <tr>
                <th>Property_type</th>
                <td>{{ property.propertyType }}</td>
            </tr>
            <tr>
                <th>For_sale</th>
                <td>{{ property.forSale ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>For_rent</th>
                <td>{{ property.forRent ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('property_index') }}">back to list</a>

    <a href="{{ path('property_edit', {'uuid': property.uuid}) }}">edit</a>

    {{ include('property/_delete_form.html.twig') }}
{% endblock %}
